/* mobile first =====================*/

@media (min-width: 576px){
    
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    
}

/* desktop first =====================*/

@media (max-width: 1199px){
    
}

@media (max-width: 991px){
	/* header
	=====================*/
	.header {
		padding: 10px 0;
	}
	.header__link,
	.logo {
		padding: 10px;
	}
	/* intro
	=====================*/
	.intro__title {
		font-size: 44px;
		margin-bottom: 0px;
	}
	.intro__subtitle--theme_accent,
	.intro__subtitle {
		font-size: 34px;
		text-shadow: none;
		margin-bottom: 0px;
		margin-top: 10px;
	}
	.intro__arrow {
		margin-top: 30px;
	}

	@-webkit-keyframes slide-top {
	  0% {
	    -webkit-transform: translateY(-10px);
	            transform: translateY(-10px);
	  }
	  50% {
	    -webkit-transform: translateY(0);
	            transform: translateY(0);
	  }
	  100% {
	    -webkit-transform: translateY(-10px);
	            transform: translateY(-10px);
	  }
	}
	@keyframes slide-top {
	  0% {
	    -webkit-transform: translateY(-10px);
	            transform: translateY(-10px);
	  }
	  50% {
	    -webkit-transform: translateY(0);
	            transform: translateY(0);
	  }
	  100% {
	    -webkit-transform: translateY(-10px);
	            transform: translateY(-10px);
	  }
	}
	}
	@keyframes slide-small {
	  0% {
	    -webkit-transform: translateY(-10px);
	            transform: translateY(-10px);
	  }
	  50% {
	    -webkit-transform: translateY(0);
	            transform: translateY(0);
	  }
	  100% {
	    -webkit-transform: translateY(-10px);
	            transform: translateY(-10px);
	  }
	}
	.content__container {
		height: 100%;
	}
	.content {
	}
	.content__slider {
		height: 660px;
	}
	.slick-list {
		height: 100%;
		width: 100%;
	}
	.slick-arrow {
		top: calc(100% - 80px);
	}
}

@media (max-width: 767px){
	.intro__title {
		font-size: 34px;
	}
	.intro__subtitle--theme_accent,
	.intro__subtitle {
		font-size: 24px;
		text-shadow: none;
	}
}

@media (max-width: 575px){
	/* components
	=====================*/
	.link__title {
		display: none;
    	font-size: 0px;
	}
	.link__icon {
		margin-right: 0 !important;
	}
    .logo {
    	font-size: 16px;
    	padding: 10px;
    	margin-right: 4px;
    }
    .logo__icon {
    	height: 20px;
    	width: 20px;
    }
	/* header
	=====================*/
	.header {
		padding: 10px 0;
	}
	.header__container {
		align-items: center;
	}
	.header__link {
		padding: 10px !important;
	}
	/* intro
	=====================*/
	.intro {
		padding: 40px 0;
	}
	.intro__title {
		font-size: 24px;
	}
	.intro__subtitle--theme_accent,
	.intro__subtitle {
		font-size: 14px;
		text-shadow: none;
	}
	.intro__arrow {
		width: 44px;
	}
	.slick-arrow {
		top: calc(100% - 43px);
	}
	/* social
	=====================*/
	.social {
		padding: 20px 0;
	}
	.social__title-text {
		font-size: 20px;
	}
	.social__title-icon {
		width: 40px;	
	}
	.social__inner {
		margin-bottom: 0;
	}
	.social__title {
		margin-bottom: 20px;
	}
	.social__list {
		border: none;
		padding: 20px;
	}
	.social__link {
		border-radius: 0;
		min-width: 100%;
		border: none;
	}
	/* content
	=====================*/
	.content {
		padding: 20px 0;
	}
	.content__title-text {
		font-size: 20px;
	}
	.content__inner {
		margin: 0;
	}
	.content__title {
		margin-bottom: 20px;
	}
	.content__title-icon {
		width: 40px;
	}
	.content__slider {
		padding: 0;
	}
	.content__slider {
		height: 350px;
	}
	.presentation {
		width: 20px;
	}
	.footer__link {
		font-size: 20px;
	}
}